@import "../colors";
@import "../header";
@import "../footer";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article-banner {
    position: relative;
    background-image: url('../img/Article Detail/bg_Article_Detail.png');
    height: 350px;
    background-size: cover;
    .article-breadcrumb {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        height: 60px;
        .breadcrumb {
            margin: auto;
        }
        .breadcrumb-item {
            color: $white;
            a {
                color: $yellow;
            }
        }
    }
}

.author-detail {
    margin: auto;
    width: 60%;
    .article-name h3 {
        font-size: 43px;
    }
    .author-name span {
        color: $yellow;
    }
    .article-category {
        p span {
            border: 1px solid $yellow;
            padding: 7px 13px;
            border-radius: 30px;
            font-size: 10px;
            color: $yellow;
        }
    }
}

.article-text {
    margin: auto;
    width: 60%;
    p {
        text-align: justify;
    }
}

.line-separator {
    background-color: $yellow;
    height: 5px;
    width: 40px;
    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.share-article {
    .socialmedia img {
        width: 60px;
    }
}

hr {
    height: 2px;
    background-color: $yellow;
    border: none;
    width: 60%;
    margin: auto;
}

.get-inspired {
    .other-articles {
        display: flex;
        justify-content: center;
        .card {
            padding: 0;
            border: none;
            .row {
                flex-wrap: nowrap;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .col-md-3 {
                width: 23%;
            }
            .card-body span {
                border: 1px solid $yellow;
                padding: 7px 13px;
                border-radius: 30px;
                font-size: 10px;
                color: $yellow;
            }
        }
    }
}

.yellow-border {
    border: 1px solid $yellow;
    width: 60%;
}

.comments-count {
    width: 60%;
    margin: auto;
}

.article-comments {
    width: 60%;
    margin: auto;
    .publish-date {
        color: $grey;
    }
    .replyandlikes {
        .like-btn {
            .like-counter {
                color: $yellow;
                text-decoration: none;
                font-size: 20px;
                cursor: pointer;
                #clicks {
                    color: black;
                    text-decoration: none;
                    font-family: monospace;
                }
            }
            .likes-counter {
                color: $yellow;
                text-decoration: none;
                font-size: 20px;
                cursor: pointer;
                #likeclicks {
                    color: black;
                    text-decoration: none;
                    font-family: monospace;
                }
            }
        }
    }
}

.post-comments {
    width: 60%;
    input {
        border: 1px solid rgba(128, 128, 128, 0.4);
        padding: 10px;
    }
    textarea {
        border: 1px solid rgba(128, 128, 128, 0.4);
    }
    label {
        margin-top: 15px;
        margin-bottom: 5px;
    }
}