@import "../colors";
@import "../header";
@import "../copyRight";


.sign-up-container {
    min-height       : calc(100vh - 119.5px);
    width            : 100%;
    background-image : url(../../assets/img/sign_up_in/bg_sign_in.png);
    background-repeat: no-repeat;
    background-size  : cover;
    display          : flex;
    align-items      : center;

.container {
        height: 100%;
        width : 80%;

        .row {
            height: 100%;

            .title {
                min-height: 180px;


                h1 {

                    font-family: SourceSansPro;
                    font-size  : 60px;
                    font-weight: bold;
                    line-height: 1.33;
                    color      : #ffffff;
                }

                .line {
                    width           : 10%;
                    height          : 6px;
                    background-color: $yellow;
                    margin-bottom   : 20px;

                }

                h3 {
                    font-family: Roboto;
                    font-size  : 16px;

                    line-height   : 1.5;
                    letter-spacing: 0.8px;
                    text-align    : left;
                    color         : #ffffff;
                }
            }

            .form {
                margin: 30px auto;

                .wrap {
                    width           : 100%;
                    max-width       : 350px;
                    margin          : auto;
                    padding         : 30px;
                    box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    background-color: #ffffff;

                    form {
                        h1 {
                            font-family: SourceSansPro;
                            font-size  : 24px;
                            font-weight: bold;

                            line-height: 1.33;

                            color: $black;
                        }

                        .line {
                            width           : 15%;
                            height          : 6px;
                            background-color: $yellow;

                            margin-bottom: 20px;
                        }

                        .group {
                            display       : flex;
                            flex-direction: column;
                            align-items   : end;
                            margin-bottom : 15px;

                            label {
                                font-family: SourceSansPro;
                                font-size  : 16px;
                                font-weight: bold;

                                text-align: left;
                                color     : $dark-grey;
                            }

                            input[type=email] {


                                padding  : 13px;
                                border   : solid 1px #dddddd;
                                color    : $grey;
                                font-size: 16px;


                            }

                            input[type=password] {


                                padding  : 13px;
                                border   : solid 1px #dddddd;
                                color    : $grey;
                                font-size: 16px;


                            }

                            input[type=text] {


                                padding  : 13px;
                                border   : solid 1px #dddddd;
                                color    : $grey;
                                font-size: 16px;


                            }
                        }

                        .checkbox {
                            label {
                                font-family   : Roboto;
                                font-size     : 16px;
                                line-height   : 1.19;
                                letter-spacing: 0.8px;
                                color         : $dark-grey;
                                margin-bottom : 15px;


                                input {}
                            }
                        }

                        .forget {
                            margin-bottom : 31px;
                            font-family   : Roboto;
                            font-size     : 8px;
                            line-height   : 1.25;
                            letter-spacing: 0.36px;
                            text-align    : left;
                            color         : $grey;

                            a {
                                color: $yellow;
                            }
                        }

                        div {
                            .btn {
                                width           : 143px;
                                height          : 53px;
                                margin-bottom   : 30px;
                                padding         : 15px 33px 14px;
                                border          : solid 1px $yellow;
                                background-color: $yellow;
                                font-family     : Roboto;
                                font-size       : 20px;
                                letter-spacing  : 1.2px;
                                color           : $white;
                                line-height     : 1.25;

                            }

                            p {
                                margin-bottom: 20px;
                                font-family  : SourceSansPro;
                                font-size    : 16px;
                                font-weight  : bold;

                                line-height: 1.31;


                                color: $black;
                            }

                            div {
                                margin-bottom: 22px;
                                width        : 70%;

                                a {
                                    img {}

                                }
                            }

                        }

                        .any {

                            font-family   : Roboto;
                            font-size     : 14px;
                            line-height   : 1.21;
                            letter-spacing: 0.63px;
                            text-align    : left;
                            color         : $grey;

                            a {
                                color: $yellow;
                            }

                        }



                    }
                }


            }
        }


    }

}
// footer
.nav_footer{
    @extend %copy-right;
}

@media screen and (max-width : 786px) {
    .sign-up-container {


        .container {
            width: 90%;
        }
    }
}

@media screen and (max-width : 425px) {
    .sign-up-container {


        .container {
            width: 95%;
        }
    }
}