.banner-container {
    position            : relative;
    background-image    : url(../img/pricing/bg_pricing.png);
    background-size     : cover;
    background-repeat   : no-repeat;
    display             : flex;
    justify-content     : center;
    align-items         : center;
    // height           : calc(70vh - 70px);
    height              : calc(100vh - 70px);

    .banner-text {
        margin-top: -30px;
        color     : $white;
        text-align: center;

        h1 {
            font-size  : 60px;
            font-weight: 900;
        }

        p {
            font-size: 20px;
        }
    }

    .page-address {
        width           : 100%;
        height          : 45px;
        background-color: rgba(#000, 0.7);
        position        : absolute;
        bottom          : 0;
        display         : flex;
        justify-content : start;
        align-items     : center;

        .container {
            color    : $white;
            font-size: 16px;

            a {
                color          : $white;
                margin-right   : 5px;
                margin-left    : 5px;
                text-decoration: none;

                &:nth-child(1) {
                    margin-left: 0px;
                }
            }

            .path {
                color: $yellow;
            }
        }
    }

}

@media screen and (max-width : 767px) {
    .banner-container {
        // height: calc(70vh - 100px);
        height: calc(100vh - 100px);
    }
}