%copy-right {
    background-color: $yellow;
    height          : 50px;
    width           : 100%;
    // padding-top: 1rem;

    p {
        font-family   : Roboto;
        font-size     : 14px;
        text-align    : center;
        letter-spacing: 0.7px;
        color         : #ffffff;
        margin-top    : 0;
        margin-bottom : 0;
    }
}