%rectangle {
    width           : 70px;
    height          : 3px;
    background-color: $yellow;
    position        : absolute;
    right           : 48%;
    margin          : 1rem 0;
}

%rectangle-r {
    width           : 70px;
    height          : 3px;
    background-color: $yellow;
    margin          : auto;
}

@media screen and (max-width : 767px) {
    %rectangle-r {
        height: 70px;
        width : 3px;
    }
}