%rectangle {
    width           : 70px;
    height          : 3px;
    background-color: $yellow;
    position        : absolute;
    right           : 48%;
    margin          : 1rem 0;
}

%rectangle1 {
    width           : 70px;
    height          : 3px;
    background-color: $yellow;
    margin          : auto;
    margin-bottom   : 10px;
    margin-top      : 10px;

}