.mobile-menu {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-y: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-menu-content {
  position: relative;
  top: 10%;
  width: 50%;
  text-align: center;
  margin-top: 20px;
}

.mobile-menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-menu p {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 0 !important;
  cursor: pointer;
}

.mobile-menu .disp-n {
  display: none;
}

.mobile-menu a:hover,
.mobile-menu a:focus,
.mobile-menu p:hover,
.mobile-menu p:focus {
  color: #f1f1f1;
}

.mobile-menu .closebtn {
  position: absolute;
  top: -20px;
  right: 15px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .mobile-menu {
    overflow-y: auto;
  }
  .mobile-menu a {
    font-size: 15px;
  }
  .mobile-menu .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* footer */
.boxb {
  background-color: #000;
  width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.footer-items {
  list-style: none;
}

.footer-items a:hover {
  color: #ffb51f;
}

footer li {
  padding-bottom: 5px;
}

.footer-items a {
  text-decoration: none;
  color: #fff;
}

.footer-items p {
  color: #fff;
  margin-bottom: 0;
  cursor: default;
}

.sub {
  font-weight: lighter;
  padding-left: 7px;
  color: #818a91;
}

/* slider -------------------------------------------- */
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ffb51f;
  font-weight: bolder;
  font-size: 25px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffb51f;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.text {
  color: #000;
  padding: 8px 12px;
  position: absolute;
  bottom: 45%;
  width: 100%;
  text-align: center;
}

.header-text {
  font-size: 60px;
  font-weight: 900;
}

.discription {
  font-size: 20px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.join-nav .rectangle {
  width: 5%;
  height: 5px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .join-nav .rectangle {
    width: 15%;
  }
}

.header {
  background-color: #000;
  width: 100%;
  height: 70px;
}

.header nav .menu .item .item-link {
  text-decoration: none;
  color: #ffffff;
}

.header nav .menu .item .item-link:hover {
  padding-bottom: 21px;
  border-bottom: #ffb51f solid 4px;
  border-radius: 3px;
}

.header nav .menu .item .bars:hover {
  border-bottom: transparent solid 4px;
}

.header a {
  color: #ffffff !important;
  text-decoration: none !important;
}

.header a:hover {
  color: #ffb51f !important;
}

.dropdown-menu {
  background-color: black !important;
  padding: 0;
}

.dropdown-menu .dropdown-item {
  background-color: black;
  color: white;
  padding: 10px 0 10px 25px;
}

.dropdown-menu .dropdown-item:hover {
  color: #ffb51f;
  background-color: #1a1b1d !important;
}

.dropdown-menu .dropdown-item:focus {
  background-color: #1a1b1d !important;
}

@media screen and (max-width: 767px) {
  .header {
    height: 100px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.img-nav {
  position: relative;
}

.img-nav nav {
  text-align: center;
  left: 42%;
  top: 30%;
  color: #ffffff;
  position: absolute;
}

.img-nav nav h1 {
  font-size: 40PX;
  margin-bottom: 0.25rem;
}

.img-nav nav p {
  font-size: 20px;
}

.img-nav img {
  width: 100%;
}

.img-nav .map-site {
  bottom: 0;
  margin: 0;
  text-align: left;
  width: 100%;
  height: 35px;
  background-color: #0d0908;
  opacity: 80%;
  position: absolute;
  color: #ffffff;
  padding-top: 0.25rem;
}

.img-nav .map-site #home {
  padding-left: 5rem;
  color: #ffb51f;
}

.img-nav .map-site a {
  text-decoration: none;
  color: #ffffff;
}

.history-nav h1 {
  font-weight: 700;
  padding-left: 2rem;
  border-left: #ffb51f solid 5px;
  color: #0d0908;
}

.history-nav p {
  line-height: 1.88;
}

.history-nav .M-font {
  font-size: 30px;
  font-weight: 600;
}

.team-nav {
  text-align: right;
}

.team-nav h1 {
  font-weight: 700;
  padding-right: 2rem;
  border-right: #ffb51f solid 5px;
  color: #0d0908;
}

.team-nav p {
  line-height: 1.88;
}

.team-nav .M-font {
  font-size: 30px;
  font-weight: 600;
}

.cards--people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards--people .Card {
  width: 28%;
}

.cards--people .Card img {
  width: 100%;
}

.cards--people .Card .Card-body {
  padding: 5px 0;
  border: #ffb51f solid 1px;
}

.cards--people .Card .Card-body h4 {
  margin: 0;
}

.magic-nav {
  background-color: #0d0908;
  width: 100%;
  padding: 4rem 0;
  text-align: center;
  color: #ffffff;
}

.magic-nav .rectangle {
  width: 70px;
  height: 3px;
  background-color: #ffb51f;
  margin: 1rem 0;
}

.map .map-title {
  margin-top: 2rem;
  position: absolute;
  left: 5%;
}

.map .map-title h1 {
  font-weight: 700;
  padding-left: 2rem;
  border-left: #ffb51f solid 5px;
  color: #0d0908;
}

.map img {
  width: 100%;
}

.join-nav {
  background-color: #ffb51f;
  text-align: center;
  padding: 3rem 0;
}

.join-nav .label {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-right: 23rem;
}

.join-nav .input {
  width: 29%;
  height: 53px;
  padding-left: 1.25rem;
  border-radius: 3px;
  background-color: #ffb51f;
  border: solid 1px #ffffff;
  color: #ffffff;
}

.join-nav .input::-webkit-input-placeholder {
  color: #ffffff;
}

.join-nav .input:-ms-input-placeholder {
  color: #ffffff;
}

.join-nav .input::-ms-input-placeholder {
  color: #ffffff;
}

.join-nav .input::placeholder {
  color: #ffffff;
}

.join-nav .submit-button {
  width: 119px;
  height: 53px;
  background-color: #0d0908;
  color: #ffffff;
  border-radius: 3px;
}

@media only screen and (max-width: 1024px) {
  .img-nav nav {
    left: 35%;
    top: 21%;
  }
  .join-nav .label {
    margin-right: 14rem;
  }
}

@media only screen and (max-width: 768px) {
  .img-nav nav {
    left: 38%;
    top: 25%;
  }
  .join-nav .input {
    width: 38%;
  }
}

@media only screen and (max-width: 450px) {
  .img-nav img {
    height: 8rem;
  }
  .img-nav nav {
    left: 37%;
    top: 20%;
  }
  .img-nav nav h1 {
    font-size: 25px;
  }
  .map-site #home {
    padding-left: 1rem !important;
  }
  .map img {
    height: 8rem;
  }
  .cards--people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards--people .Card {
    margin-top: 1rem;
    width: 60%;
  }
  .join-nav .input {
    width: 80%;
  }
  .join-nav .label {
    margin-right: 0;
  }
  .submit-button {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .map-site {
    height: 25px !important;
    padding-top: 0px !important;
  }
  .map-site #home {
    padding-left: 1rem !important;
  }
  .img-nav img {
    height: 8rem;
  }
  .map img {
    height: 8rem;
  }
  .cards--people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cards--people .Card {
    width: 60%;
  }
  .join-nav .input {
    width: 80%;
  }
  .join-nav .label {
    margin-right: 0;
  }
  .submit-button {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=about-us.css.map */