.header {
  background-color: #000;
  width: 100%;
  height: 70px;
}

.header nav .menu .item .item-link {
  text-decoration: none;
  color: #ffffff;
}

.header nav .menu .item .item-link:hover {
  padding-bottom: 21px;
  border-bottom: #ffb51f solid 4px;
  border-radius: 3px;
}

.header nav .menu .item .bars:hover {
  border-bottom: transparent solid 4px;
}

.header nav .menu .item .dropdown-menu {
  background-color: black;
  padding: 0;
}

.header nav .menu .item .dropdown-menu .dropdown-item {
  background-color: black;
  color: white;
  padding: 10px 0 10px 25px;
}

.header nav .menu .item .dropdown-menu .dropdown-item:hover {
  background-color: #1a1b1d !important;
}

.header nav .menu .item .dropdown-menu .dropdown-item:focus {
  background-color: #1a1b1d !important;
}

@media screen and (max-width: 767px) {
  .header {
    height: 100px;
  }
}

/* footer */
.boxb {
  background-color: #000;
  width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.footer-items {
  list-style: none;
}

footer li {
  padding-bottom: 5px;
}

.footer-items a {
  text-decoration: none;
  color: #fff;
}

.footer-items p {
  color: #fff;
  margin-bottom: 0;
  cursor: default;
}

.sub {
  font-weight: lighter;
  padding-left: 7px;
  color: #818a91;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.article-banner {
  position: relative;
  background-image: url("../img/article list/bg_article_list.png");
  height: 350px;
  background-size: cover;
}

.article-banner .article-heading {
  position: absolute;
  top: 36%;
}

.article-banner .article-breadcrumb {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.article-banner .article-breadcrumb .breadcrumb {
  margin: auto;
}

.article-banner .article-breadcrumb .active {
  color: #ffffff;
}

.article-banner .article-breadcrumb .breadcrumb-item {
  color: #ffffff;
}

.article-banner .article-breadcrumb .breadcrumb-item a {
  color: #ffb51f;
}

.line-separator {
  background-color: #ffb51f;
  height: 5px;
  width: 40px;
  margin: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card {
  padding: 0;
  border: none;
}

.card .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .row img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .col-md-3 {
  width: 23%;
}

.card .card-body span {
  border: 1px solid #ffb51f;
  padding: 7px 13px;
  border-radius: 30px;
  font-size: 10px;
  color: #ffb51f;
}

.yellow-border {
  border: 1px solid #ffb51f;
  width: 60%;
}

.pagination li a {
  color: #ffb51f;
}

.pagination li a:focus {
  color: #ffffff;
  background: #ffb51f;
  border: none;
}
/*# sourceMappingURL=article-list.css.map */