@import "../colors";
@import "../header";
@import "../footer";
@import "../copyRight";

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.haeder{
    width: 100%;
    height: 70px;
    background-color: $black;

    img{
        padding-top: 1.25rem;
    }
}

.nav_404{
    padding: 5rem 0;
    background-color: $black;

    h4{
        font-size: 30px;
        font-weight: 600;
        color: $white;
    }
    h1{
        font-size: 100px;
        font-weight: 800;
        color: $yellow;
    }
    h3{
        font-size: 50px;
        font-weight: 600;
        color: $white;
    }
    .rectangle{
        @extend %rectangle;
    }
    p{
        margin: 5rem 0;
        font-size: 20px;
        font-weight: 600;
        color: $white;
    }
}

.home-btn{
    width: 160px;
    height: 56px;
    color: $white;
    background-color: $yellow;
    font-weight: 600;
    font-size: 20px;
    border-radius: 2px;
}


.nav_footer{
    padding-top: 1rem;
    width: 100%;
    height: 50px;
    background-color: $yellow;
    color: $white;
}